.border-below{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    opacity: border 0.5;
}
.bottom-shadow{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.active-link{
    font-weight: 700;
}
.button-shadow{
    box-shadow: 0px 21px 15px -14px rgba(0, 0, 0, 0.25);
}